@import './designSystem'

.article
  display: flex
  flex-direction: column
  align-items: center
  gap: rem(25)
  padding: rem(15) calc(env(safe-area-inset-right) + rem(15)) rem(30) calc(env(safe-area-inset-left) + rem(15))

  +mq(minMedium)
    padding: rem(25) calc(env(safe-area-inset-right) + rem(25)) rem(50) calc(env(safe-area-inset-left) + rem(25))

  .loading, .error
    display: flex
    flex: 1
    align-items: center
    color: $hex-accent

  .error
    gap: rem(15)

    a
      text-decoration: underline
      color: $hex-accent

  article
    display: flex
    flex-direction: column
    max-width: rem(767)

    header
      display: flex
      flex-direction: column
      gap: rem(5)
      position: relative

      +mq(minMedium)
        gap: rem(15)

    h1
      display: flex
      flex-direction: column
      gap: rem(7)
      transition: all .4s cubic-bezier(.4,0,.2,1)
      font-size: rem(16)
      line-height: 1.2
      color: var(--txt-blockquote)

      +mq(minMedium)
        font-size: rem(20)

      span
        font-size: rem(14)
        font-weight: 400

        +mq(minMedium)
          font-size: rem(16)

        &::before
          content: '🎵'
          padding-right: rem(3)

    .function
      display: flex
      gap: rem(17)
      align-items: center
      padding: rem(7) 0

      dl
        display: flex
        gap: rem(7)

        dt
          font-size: rem(14)
          color: var(--txt-summary)

          +mq(minMedium)
            font-size: rem(16)

        dd
          font-weight: 800
          color: $hex-accent

      time, button span
        line-height: 1

        +mq(minMedium)
          font-size: rem(16)

      button
        display: flex
        align-items: center
        gap: rem(3)
        background-color: transparent
        padding: 0
        font-weight: 600

        span
          color: var(--txt-subject)

        i
          display: inline-block
          width: rem(20)
          height: rem(20)

    h2
      font-size: rem(16)
      color: var(--txt-subject)
      white-space: break-spaces
      word-wrap: break-word
      word-break: normal

      +mq(minMedium)
        font-size: rem(20)

      strong
        color: $hex-accent

    hr
      margin: rem(23) 0
      border: 0
      border-top: 1px solid var(--border)

    .news
      display: flex
      flex-direction: column
      gap: rem(17)

      > dl
        display: inline-flex
        gap: rem(2)

        +mq(maxExtraSmall)
          flex-direction: column

        +mq(minSmall)
          gap: rem(17)

        div
          display: inline-flex
          gap: rem(7)

          dt, dd
            font-size: rem(14)
            color: var(--txt-summary)

            +mq(minMedium)
              font-size: rem(16)

          dd
            font-weight: 700

      .thumbnail
        text-align: center

      a
        display: inline-block
        position: relative
        background-color: var(--bg-primary-opacity)

        &:hover, &:focus
          img
            opacity: .7

        span
          display: inline-flex
          position: absolute
          z-index: 2
          top: rem(15)
          left: rem(15)
          background-color: $hex-black
          border-radius: rem(3)
          padding: rem(7) rem(12)
          font-size: rem(14)
          font-weight: 700
          color: $hex-accent

        img
          transition: all .4s cubic-bezier(.4,0,.2,1)
          max-width: 100%
          height: auto

      .description
        display: flex
        flex-direction: column
        gap: rem(14)

        +mq(minMedium)
          gap: rem(16)

        strong
          font-weight: 800

        p, li
          font-size: rem(14)
          line-height: 1.375

          +mq(minSmall)
            font-size: rem(16)

        ol, ul
          margin-left: rem(16)
          padding-left: rem(16)

          li
            margin: rem(3) 0

        ol
          list-style-type: decimal

        ul
          list-style-type: disc

        a
          color: $hex-accent
          text-decoration: underline

        & + p
          margin-top: rem(15)
          border-top: 1px solid var(--border)
          padding-top: rem(15)
          color: var(--txt-summary)

          +mq(minMedium)
            margin-top: rem(25)
            padding-top: rem(25)

    .music
      display: flex
      flex-direction: column
      gap: rem(17)

      p.report-video
        font-size: rem(14)
        line-height: 1.28571429
        padding-bottom: rem(12)
        padding-left: rem(17)
        text-indent: rem(-17)

        i
          display: inline-block
          margin-right: rem(3)
          width: rem(14)
          height: rem(14)
          vertical-align: middle

        button
          background: 0
          border: 0
          padding: 0
          font-size: rem(14)
          font-weight: 800
          color: red
          vertical-align: text-bottom

      .ytMusic
        a
          display: inline-flex
          gap: rem(3)
          background-color: $hex-black
          border-radius: rem(3)
          padding: rem(6) rem(12)
          color: $hex-white
          font-size: rem(14)

          i
            display: inline-block
            width: rem(67)
            height: rem(20)

          span
            +screen-reader-only

      .info
        display: flex
        flex-direction: column
        gap: rem(17)

      .music-info
        display: flex
        flex-direction: column
        gap: rem(23)

        +mq(minSmall)
          flex-direction: row

          > div:first-of-type
            width: rem(170)
            height: rem(170)

          .info
            +col

      dl
        display: flex
        flex-direction: column
        gap: rem(7)

        > div
          display: inline-flex
          gap: rem(7)

          +mq(minMedium)
            display: grid
            grid-template-columns: 1fr 1fr

          &:first-of-type, &[data-staff], &[data-single="true"]
            display: inline-flex
            gap: rem(7)

            +mq(maxSmall)
              flex-direction: row

          +mq(maxSmall)
            flex-direction: column

          +mq(minMedium)
            gap: rem(17)

          > div
            display: inline-flex
            gap: rem(7)

          dt, dd
            font-size: rem(14)
            line-height: 1.14285714

          dt
            color: var(--txt-summary)
            white-space: nowrap
            +coln
            width: rem(57)

          dd
            +col
            font-weight: 700
            color: var(--txt-subject)

      p
        font-size: rem(20)
        font-weight: 800
        color: var(--txt-subject)
