@import './designSystem'

.main
  padding: 0 env(safe-area-inset-right) rem(125) env(safe-area-inset-left) !important

  .main-content
    gap: rem(75)
    padding-bottom: rem(50)

    +mq(minLarge)
      gap: rem(100)
      padding-bottom: rem(100)

    h1
      display: flex
      justify-content: center

      span
        +screen-reader-only

      i
        display: block
        position: relative
        width: rem(267)
        height: rem(88)

        svg
          position: absolute

          &.svg1, &.svg4
            left: 0

          &.svg1
            top: 0

            path
              &:nth-of-type(1), &:nth-of-type(2)
                body[data-theme="dark"] &
                  fill: #F8E559

              &:nth-of-type(3)
                body[data-theme="dark"] &
                  fill: #EEF5FF

              &:nth-of-type(4), &:nth-of-type(5)
                body[data-theme="dark"] &
                  fill: #86B6F6

          &.svg2, &.svg3
            top: 0

          &.svg2
            left: rem(60)
            animation: svg2 1s cubic-bezier(.4,0,.2,1)

            path
              body[data-theme="dark"] &
                fill: #B4D4FF

          &.svg3
            left: rem(127)
            animation: svg3 2s cubic-bezier(.4,0,.2,1)

            path
              body[data-theme="dark"] &
                fill: #EEF5FF

          &.svg4
            bottom: 0
            animation: svg4 3s cubic-bezier(.4,0,.2,1)

            path
              &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4), &:nth-of-type(5), &:nth-of-type(6), &:nth-of-type(7)
                body[data-theme="dark"] &
                  fill: #B4D4FF

            path
              &:nth-of-type(8)
                body[data-theme="dark"] &
                  fill: #86B6F6

            path
              &:nth-of-type(9), &:nth-of-type(10), &:nth-of-type(11), &:nth-of-type(12), &:nth-of-type(13), &:nth-of-type(14), &:nth-of-type(15), &:nth-of-type(16)
                body[data-theme="dark"] &
                  fill: #EEF5FF

    .description
      display: flex
      flex-direction: column
      gap: rem(75)

      > div
        display: flex
        flex-direction: column
        justify-content: center
        gap: rem(15)

        +mq(minLarge)
          flex-direction: row
          align-items: center
          gap: rem(25)

        > div
          display: flex
          flex-direction: column
          gap: rem(27)

          +mq(minLarge)
            gap: rem(17)
            +coln
            width: rem(375)

        &::before
          content: ''
          display: block
          margin: 0 auto
          border: 1px solid var(--border)
          border-radius: vw(7, 320)
          width: 100%
          max-width: rem(540)

          +mq(minLarge)
            +coln
            margin: 0
            border-radius: rem(7)

        h2
          display: flex
          flex-direction: column
          align-items: center
          gap: rem(12)
          font-size: rem(20)
          line-height: 1

          +mq(minLarge)
            flex-direction: row

          i
            display: block
            width: rem(27)
            height: rem(27)

        p
          font-size: rem(14)
          line-height: 1.7

          +mq(minLarge)
            text-align: left

        &[data-summary]
          &::before
            display: none

          p
            text-align: center
            line-height: 1.5

          +mq(minLarge)
            justify-content: center

            p
              font-size: rem(20)

        &[data-youtube]
          &::before
            aspect-ratio: 645 / 646.5

            body[data-theme="dark"] &
              background: url('/mobile-youtube-dark.webp') no-repeat 50% 50%/contain

            body &, body[data-theme="light"] &
              background: url('/mobile-youtube-light.webp') no-repeat 50% 50%/contain

            +mq(minLarge)
              aspect-ratio: 964 / 584

              body[data-theme="dark"] &
                background: url('/desktop-youtube-dark.webp') no-repeat 50% 50%/contain

              body &, body[data-theme="light"] &
                background: url('/desktop-youtube-light.webp') no-repeat 50% 50%/contain

        &[data-naver]
          &::before
            aspect-ratio: 645 / 1006

            body[data-theme="dark"] &
              background: url('/mobile-naver-dark.webp') no-repeat 50% 50%/contain

            body &, body[data-theme="light"] &
              background: url('/mobile-naver-light.webp') no-repeat 50% 50%/contain

            +mq(minLarge)
              aspect-ratio: 1166 / 939

              body[data-theme="dark"] &
                background: url('/desktop-naver-dark.webp') no-repeat 50% 50%/contain

              body &, body[data-theme="light"] &
                background: url('/desktop-naver-light.webp') no-repeat 50% 50%/contain

        &[data-editorial]
          &::before
            aspect-ratio: 646 / 568

            body[data-theme="dark"] &
              background: url('/mobile-editorial-dark.webp') no-repeat 50% 50%/contain

            body &, body[data-theme="light"] &
              background: url('/mobile-editorial-light.webp') no-repeat 50% 50%/contain

            +mq(minLarge)
              aspect-ratio: 1168 / 768

              body[data-theme="dark"] &
                background: url('/desktop-editorial-dark.webp') no-repeat 50% 50%/contain

              body &, body[data-theme="light"] &
                background: url('/desktop-editorial-light.webp') no-repeat 50% 50%/contain

  dl
    border-top: 1px solid var(--border)
    padding-top: rem(75)
    display: flex
    flex-direction: column
    align-items: center
    gap: rem(25)
    text-align: center

    +mq(minLarge)
      flex-direction: row
      justify-content: center
      gap: 0
      border: 0
      padding-top: 0

      div
        position: relative
        padding: 0 rem(75)

        &::before
          content: ''
          display: block
          position: absolute
          top: 0
          left: 0
          width: 1px
          height: 100%
          background-color: var(--border)

        &:first-of-type::before
          display: none

    dt
      font-size: rem(14)
      font-weight: 300
      color: var(--txt-subject)

      +mq(minLarge)
        font-size: rem(16)

    dd
      margin-top: rem(5)
      font-size: rem(58)
      font-weight: 900
      line-height: 1

      +mq(minLarge)
        font-size: rem(50)

  .apple
    border-top: 1px solid var(--border)
    padding-top: rem(75)
    text-align: center

    h2
      margin-bottom: rem(50)

    p
      text-align: center
      font-weight: 300

      +mq(minLarge)
        display: flex
        flex-direction: column

      i
        display: inline-block
        width: rem(32)
        height: rem(32)
        vertical-align: bottom

@keyframes svg2
  0%
    opacity: 0
    transform: translateY(rem(-14))

  100%
    opacity: 1
    transform: translateY(0)

@keyframes svg3
  0%
    opacity: 0

  50%
    opacity: 0
    transform: translateX(rem(-14))

  100%
    opacity: 1
    transform: translateX(0)

@keyframes svg4
  0%
    opacity: 0

  66%
    opacity: 0

  100%
    opacity: 1
