@import './designSystem'

.musics
  margin: 0 auto
  max-width: rem(720)
  width: 100%

  ul
    display: flex
    flex-direction: column

    +mq(minMedium)
      flex-direction: row
      flex-wrap: wrap

    li
      border-top: 1px solid var(--border)

      +mq(minMedium)
        width: 50%
        display: flex

      > img
        +screen-reader-only

      > button
        display: flex
        align-items: center
        gap: rem(23)
        background: none
        padding: rem(17) 0
        width: 100%

        +mq(minMedium)
          flex-grow: 1

        img
          width: rem(72)
          height: rem(72)

        span
          display: flex
          flex-direction: column
          gap: rem(5)
          padding-right: rem(12)

          strong, cite
            justify-content: flex-start
            position: relative
            color: var(--txt-subject)
            text-align: left
            transition: all .4s cubic-bezier(.4,0,.2,1)
            white-space: break-spaces
            word-wrap: break-word
            word-break: normal

          strong
            font-size: rem(16)
            line-height: 1.125

          cite
            display: inline-block
            font-size: rem(14)
            line-height: 1.28571429

.music
  .dialog
    position: fixed
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    top: 0
    left: 0
    z-index: 1070
    border: 0
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left)
    width: 100%
    height: 100%
    background-color: var(--default-bg)
    backdrop-filter: blur(rem(20))

    +mq(minMedium)
      padding: rem(52)
      background-color: var(--bg-reverse-opacity)

    dl + p.report-video
      padding-top: rem(12)
      padding-bottom: 0

    p.report-video
      font-size: rem(14)
      line-height: 1.28571429
      padding-bottom: rem(12)
      padding-left: rem(17)
      text-indent: rem(-17)

      i
        display: inline-block
        margin-right: rem(3)
        width: rem(14)
        height: rem(14)
        vertical-align: middle

      button
        background: 0
        border: 0
        padding: 0
        font-size: rem(14)
        font-weight: 800
        color: red
        vertical-align: text-bottom

    &.tablet, &.onlyMusic
      &:not(.mv)
        .container
          .info
            .yt
              width: rem(170)
              +coln

      .container
        flex-direction: column

        .info
          flex-direction: row

          .yt, .summary
            +col

          .summary
            h2
              padding-top: 0

            dl
              padding-bottom: 0

              & + p.report-video
                padding-top: rem(12)

        .info, .lyrics
          flex: auto
          gap: rem(23)

    &:not(.mv)
      &.instrument
        +mq(minMedium)
          padding: rem(52) rem(140)

        .container
          max-width: rem(720)

        .info
          display: flex
          flex-direction: column

          +mq(minMedium)
            flex-direction: row-reverse
            gap: rem(23)

            .yt, .summary
              +col

      .info
        .yt
          +mq(maxSmall)
            max-width: rem(370)

    .container
      display: flex
      flex-direction: column
      position: relative
      gap: rem(12)
      padding: rem(52) rem(27) rem(27)
      width: 100%
      height: 100dvh
      background-color: var(--default-bg)
      overflow: hidden

      +mq(minMedium)
        flex-direction: row
        gap: rem(32)
        height: auto
        max-height: calc(100vh - rem(104))

      > a
        position: absolute
        top: rem(12)
        left: rem(25)
        display: inline-flex
        gap: rem(3)
        background-color: $hex-black
        border-radius: rem(3)
        padding: rem(6) rem(12)
        color: $hex-white
        font-size: rem(14)

        i
          display: inline-block
          width: rem(67)
          height: rem(20)

        span
          +screen-reader-only

      > button
        position: absolute
        top: rem(12)
        right: rem(25)
        width: rem(32)
        height: rem(32)
        background-color: transparent

        +mq(minMedium)
          right: rem(12)

        i
          display: inline-block
          width: rem(32)
          height: rem(32)

        span
          +screen-reader-only

    .info, .lyrics
      +mq(minMedium)
        +col

    .summary
      h2, cite
        color: var(--txt-summary)

      h2
        font-size: rem(16)

        +mq(minMedium)
          font-size: rem(20)

      cite
        font-size: rem(14)
        display: block

        +mq(minMedium)
          font-size: rem(16)

        button
          background-color: $hex-accent
          margin-left: rem(7)
          border: 0
          border-radius: rem(3)
          padding: rem(1) rem(5)
          font-size: rem(14)
          font-weight: 800
          color: $hex-white

          +mq(minSmall)
            display: none

    .info
      display: flex
      flex-direction: column

      .yt
        width: 100%
        max-height: 100vh
        max-width: none

        img
          max-width: 100%

      .summary
        h2
          padding-top: rem(12)

    .lyrics
      overflow: hidden
      display: flex
      flex-direction: column

      .summary
        cite
          padding-bottom: rem(12)

      dl
        padding-top: 0

    dl
      display: flex
      flex-direction: column
      gap: rem(7)
      padding: rem(17) 0

      +mq(minSmall)
        gap: rem(2)
        padding: rem(23) 0

      &.hidden
        +mq(maxExtraSmall)
          display: none

      > div
        display: inline-flex
        gap: rem(2)

        +mq(maxExtraSmall)
          flex-direction: column

        +mq(minSmall)
          gap: rem(17)

        > div
          display: inline-flex
          gap: rem(2)

          +mq(minSmall)
            gap: rem(7)

        dt, dd
          font-size: rem(14)

        dt
          width: rem(57)
          color: var(--txt-summary)
          white-space: nowrap

          +mq(maxExtraSmall)
            line-height: 1

        dd
          font-weight: 700
          color: var(--txt-subject)
          white-space: break-spaces
          word-wrap: break-word
          word-break: normal

          +mq(minSmall)
            +col

      & + p.report-video
        padding-top: 0
        padding-bottom: rem(12)

      & + button
        justify-content: center
        background-color: $hex-accent
        margin: rem(17) 0
        border-radius: rem(3)
        width: 100%
        font-size: rem(14)
        font-weight: 700
        color: $hex-white

    p
      padding-right: rem(17)
      font-size: rem(20)
      font-weight: 800
      color: var(--txt-subject)
      text-align: left !important
      white-space: break-spaces
      word-wrap: break-word
      word-break: keep-all

      &.hidden
        +mq(maxExtraSmall)
          display: none

      & + button
        justify-content: center
        background-color: $hex-accent
        margin: rem(17) 0
        border-radius: rem(3)
        width: 100%
        font-size: rem(14)
        font-weight: 700
        color: $hex-white

  article
    margin: 0 auto
    padding: 0 rem(15)
    max-width: rem(720)
    width: 100%

    header
      padding: rem(17) 0

      h2
        font-size: rem(24)
        line-height: 1.16666667
        color: var(--txt-subject)

      time
        font-size: rem(14)
        color: var(--txt-blockquote)

    .description
      padding: rem(27) 0

      p
        font-size: rem(16)
        line-height: 1.25
        color: var(--txt-summary)
