.musics
  width: 100%

  &.loading
    max-height: calc(100vh - ds.rem(380))
    overflow: hidden
    position: relative

    +ds.mq(maxMedium)
      max-height: calc(100vh - ds.rem(297))

    &::after
      content: ''
      position: absolute
      bottom: 0
      left: 0
      width: 100%
      height: ds.rem(72)
      background: linear-gradient(180deg, rgba(255, 255, 255, 0), #fff 100%)

      body[data-theme="dark"] &
        background: linear-gradient(180deg, rgba(0, 0, 0, 0), #000 100%)

  ul
    display: flex
    flex-direction: column

    +ds.mq(minSmall)
      flex-direction: row
      flex-wrap: wrap

    li
      border-top: 1px solid var(--border)

      +ds.mq(minSmall)
        display: flex
        width: 50%

      +ds.mq(minLarge)
        width: 33.33%

      +ds.mq(minExtraLarge)
        width: 25%

      .skeleton
        background: linear-gradient(90deg, #EEEEEE 25%, #DDDDDD 50%, #EEEEEE 75%)
        background-size: 200% 100%
        animation: loading 1.5s infinite

        body[data-theme="dark"] &
          background: linear-gradient(90deg, #111111 25%, #222222 50%, #111111 75%)
          background-size: 200% 100%
          animation: loading 1.5s infinite

      &.loading-indicator
        .button
          display: flex
          align-items: center
          gap: ds.rem(23)
          padding: ds.rem(17) 0
          width: 100%

        i
          display: block
          width: ds.rem(72)
          height: ds.rem(72)

        span
          display: flex
          flex-direction: column
          gap: ds.rem(5)
          padding-right: ds.rem(12)

          strong, cite
            height: ds.rem(18)

          strong
            width: ds.rem(102)

          cite
            width: ds.rem(72)

      > img
        +ds.screen-reader-only

      > button
        display: flex
        align-items: center
        gap: ds.rem(23)
        background: none
        padding: ds.rem(17) 0
        width: 100%

        +ds.mq(minMedium)
          flex-grow: 1

        img
          width: ds.rem(72)
          height: ds.rem(72)

        span
          display: flex
          flex-direction: column
          gap: ds.rem(5)
          padding-right: ds.rem(12)

          strong, cite
            justify-content: flex-start
            position: relative
            color: var(--txt-subject)
            text-align: left
            transition: all .4s cubic-bezier(.4,0,.2,1)
            white-space: break-spaces
            word-wrap: break-word
            word-break: normal

          strong
            font-size: ds.rem(16)
            line-height: 1.125

          cite
            display: inline-block
            font-size: ds.rem(14)
            line-height: 1.28571429

.music
  .control
    display: flex
    justify-content: center
    gap: ds.rem(23)
    padding: ds.rem(12) ds.rem(12) 0

    + p
      padding-bottom: ds.rem(12)
      font-size: ds.rem(16)
      font-weight: 800!important

    label
      display: flex
      align-items: center
      gap: ds.rem(5)

      input
        +ds.screen-reader-only

      i
        display: inline-block
        width: ds.rem(25)
        height: ds.rem(25)

      span, strong
        font-size: ds.rem(16)

  .dialog
    position: fixed
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    top: 0
    left: 0
    z-index: 1070
    border: 0
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left)
    width: 100%
    height: 100%
    background-color: var(--default-bg)
    backdrop-filter: blur(ds.rem(20))

    +ds.mq(minMedium)
      padding: ds.rem(52)
      background-color: var(--bg-reverse-opacity)

    dl + p.report-video
      padding-top: ds.rem(12)
      padding-bottom: 0

    p.report-video
      font-size: ds.rem(14)
      line-height: 1.28571429
      padding-bottom: ds.rem(12)
      padding-left: ds.rem(17)
      text-indent: ds.rem(-17)

      i
        display: inline-block
        margin-right: ds.rem(3)
        width: ds.rem(14)
        height: ds.rem(14)
        vertical-align: middle

      button
        background: 0
        border: 0
        padding: 0
        font-size: ds.rem(14)
        font-weight: 800
        color: red
        vertical-align: text-bottom

    &.tablet, &.onlyMusic
      &:not(.mv)
        .container
          .info
            .yt
              width: ds.rem(170)
              +ds.coln

      .container
        flex-direction: column

        .info
          flex-direction: row

          .yt, .summary
            +ds.col

          .summary
            h2
              padding-top: 0

            dl
              padding-bottom: 0

              & + p.report-video
                padding-top: ds.rem(12)

        .info, .lyrics
          flex: auto
          gap: ds.rem(23)

    &:not(.mv)
      &.instrument
        +ds.mq(minMedium)
          padding: ds.rem(52) ds.rem(140)

        .container
          max-width: ds.rem(720)

        .info
          display: flex
          flex-direction: column

          +ds.mq(minMedium)
            flex-direction: row-reverse
            gap: ds.rem(23)

            .yt, .summary
              +ds.col

      .info
        .yt
          +ds.mq(maxSmall)
            max-width: ds.rem(370)

    .container
      display: flex
      flex-direction: column
      position: relative
      gap: ds.rem(12)
      padding: ds.rem(52) ds.rem(27) ds.rem(27)
      width: 100%
      height: 100dvh
      background-color: var(--default-bg)
      overflow: hidden

      +ds.mq(minMedium)
        flex-direction: row
        gap: ds.rem(32)
        height: auto
        max-height: calc(100vh - ds.rem(104))

      > a
        position: absolute
        top: ds.rem(12)
        left: ds.rem(25)
        display: inline-flex
        gap: ds.rem(3)
        background-color: ds.$hex-black
        border-radius: ds.rem(3)
        padding: ds.rem(6) ds.rem(12)
        color: ds.$hex-white
        font-size: ds.rem(14)

        i
          display: inline-block
          width: ds.rem(67)
          height: ds.rem(20)

        span
          +ds.screen-reader-only

      > button
        position: absolute
        top: ds.rem(12)
        right: ds.rem(25)
        width: ds.rem(32)
        height: ds.rem(32)
        background-color: transparent

        +ds.mq(minMedium)
          right: ds.rem(12)

        i
          display: inline-block
          width: ds.rem(32)
          height: ds.rem(32)

        span
          +ds.screen-reader-only

    .info, .lyrics
      +ds.mq(minMedium)
        +ds.col

    .summary
      h2, cite
        color: var(--txt-summary)

      h2
        font-size: ds.rem(16)

        +ds.mq(minMedium)
          font-size: ds.rem(20)

      cite
        font-size: ds.rem(14)
        display: block

        +ds.mq(minMedium)
          font-size: ds.rem(16)

        button
          background-color: ds.$hex-accent
          margin-left: ds.rem(7)
          border: 0
          border-radius: ds.rem(3)
          padding: ds.rem(1) ds.rem(5)
          font-size: ds.rem(14)
          font-weight: 800
          color: ds.$hex-white

          +ds.mq(minSmall)
            display: none

    .info
      display: flex
      flex-direction: column

      .yt
        width: 100%
        max-height: 100vh
        max-width: none

        img
          max-width: 100%

      .summary
        h2
          padding-top: ds.rem(12)

    .lyrics
      overflow: hidden
      display: flex
      flex-direction: column

      .summary
        cite
          padding-bottom: ds.rem(12)

      dl
        padding-top: 0

    dl
      display: flex
      flex-direction: column
      gap: ds.rem(7)
      padding: ds.rem(17) 0

      +ds.mq(minSmall)
        gap: ds.rem(2)
        padding: ds.rem(23) 0

      &.hidden
        +ds.mq(maxExtraSmall)
          display: none

      > div
        display: inline-flex
        gap: ds.rem(2)

        +ds.mq(maxExtraSmall)
          flex-direction: column

        +ds.mq(minSmall)
          gap: ds.rem(17)

        > div
          display: inline-flex
          gap: ds.rem(2)

          +ds.mq(minSmall)
            gap: ds.rem(7)

        dt, dd
          font-size: ds.rem(14)

        dt
          width: ds.rem(57)
          color: var(--txt-summary)
          white-space: nowrap

          +ds.mq(maxExtraSmall)
            line-height: 1

        dd
          font-weight: 700
          color: var(--txt-subject)
          white-space: break-spaces
          word-wrap: break-word
          word-break: normal

          +ds.mq(minSmall)
            +ds.col

      & + p.report-video
        padding-top: 0
        padding-bottom: ds.rem(12)

      & + button
        justify-content: center
        background-color: ds.$hex-accent
        margin: ds.rem(17) 0
        border-radius: ds.rem(3)
        width: 100%
        font-size: ds.rem(14)
        font-weight: 700
        color: ds.$hex-white

    p
      padding-right: ds.rem(17)
      font-size: ds.rem(20)
      font-weight: 800
      color: var(--txt-subject)
      text-align: left !important
      white-space: break-spaces
      word-wrap: break-word
      word-break: keep-all

      &.hidden
        +ds.mq(maxExtraSmall)
          display: none

      & + button
        justify-content: center
        background-color: ds.$hex-accent
        margin: ds.rem(17) 0
        border-radius: ds.rem(3)
        width: 100%
        font-size: ds.rem(14)
        font-weight: 700
        color: ds.$hex-white

  &.mpb
    + footer
      margin-bottom: ds.rem(81)

  .player-bar
    background-color: ds.$hex-dark
    position: fixed
    bottom: 0
    left: 0
    z-index: 7777
    width: 100%

    &.isSafari
      .seekbar
        em
          transition: none!important

    .hidden
      +ds.screen-reader-only

    .show
      background-color: ds.$hex-black
      height: calc(100dvh - ds.rem(93))

      .player-close
        position: absolute
        top: calc(env(safe-area-inset-top) + ds.rem(32))
        right: ds.rem(32)
        z-index: 77
        width: ds.rem(25)
        height: ds.rem(25)

        button
          width: ds.rem(25)
          height: ds.rem(25)
          background-color: transparent

          i
            display: block
            width: ds.rem(25)
            height: ds.rem(25)

          span
            +ds.screen-reader-only

      +ds.mq(landscape)
        display: flex
        flex-direction: row-reverse

        .cover, .lyrics
          +ds.col

        .lyrics
          flex-grow: 1
          z-index: 7
          padding: calc(env(safe-area-inset-top) + ds.rem(52)) calc(env(safe-area-inset-right) + ds.rem(27)) ds.rem(52) 0

          p
            font-size: ds.rem(24)
            color: ds.$hex-white

          ~ .cover
            &.YouTube .youtube .youtube-wrapper
              > div:first-of-type
                max-width: 100%
                width: auto
                height: 100%

              .thumbnail, .dummy
                position: absolute
                bottom: 0
                left: 50%
                max-width: 100%
                width: auto
                height: 100%
                transform: translateX(-50%)
                aspect-ratio: 1920 / 1080

              .thumbnail
                img
                  display: block
                  width: 100%
                  height: 100%
                  object-fit: cover
                  aspect-ratio: 1920 / 1080

                button
                  position: absolute
                  top: 50%
                  left: 50%
                  transform: translate(-50%, -50%)

      .cover
        display: flex
        flex-direction: column
        gap: ds.rem(27)
        padding: calc(env(safe-area-inset-top) + ds.rem(32)) ds.rem(52) ds.rem(32) calc(env(safe-area-inset-left) + ds.rem(52))
        height: calc(100dvh - ds.rem(93))

        +ds.mq(portrait)
          padding: calc(env(safe-area-inset-top) + ds.rem(32)) 0 calc(env(safe-area-inset-bottom) + ds.rem(32))

        &.YouTube
          .background
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%

            > div:first-of-type
              position: absolute
              aspect-ratio: 1920 / 1080
              height: 100%

            .dummy
              position: absolute
              top: 0
              left: 0
              width: 100%
              height: 100%
              background-color: rgba(ds.$hex-black, .7)
              backdrop-filter: blur(ds.rem(100))

          div:not(.background)
            z-index: 2

          .youtube
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            flex-grow: 1
            gap: ds.rem(27)

            +ds.mq(landscape)
              position: relative
              height: calc(100dvh - ds.rem(218))

            +ds.mq(portrait)
              position: relative
              height: calc(100dvh - ds.rem(91))

            .youtube-wrapper
              position: relative
              justify-content: center
              flex-grow: 1
              align-items: flex-end
              width: 90%

              div:first-of-type
                height: 100%
                aspect-ratio: 16 / 9

              +ds.mq(landscape)
                position: absolute
                top: 0
                left: 0
                display: flex
                justify-content: center
                align-items: flex-end
                width: 100%
                height: 50%

                > div:first-of-type
                  position: absolute
                  bottom: 0
                  left: 50%
                  width: auto
                  transform: translateX(-50%)

                .dummy
                  button
                    transition: all .4s cubic-bezier(.4,0,.2,1)
                    opacity: 0

                    &:hover
                      opacity: 1

                .thumbnail, .dummy
                  position: absolute
                  bottom: 0
                  left: 50%
                  max-width: 100%
                  width: auto
                  height: 100%
                  transform: translateX(-50%)
                  aspect-ratio: 1920 / 1080

                  img
                    aspect-ratio: 1920 / 1080

                  button
                    display: flex
                    position: absolute
                    top: 0
                    left: 0
                    background-color: transparent
                    justify-content: center
                    align-items: center
                    width: 100%
                    height: 100%
                    aspect-ratio: 1920 / 1080

                    em
                      transition: all .4s cubic-bezier(.4,0,.2,1)
                      display: flex
                      justify-content: center
                      align-items: center
                      background-color: rgba(244, 246, 250, .9)
                      border-radius: ds.rem(52)
                      width: ds.rem(52)
                      height: ds.rem(52)

                      i
                        display: block
                        width: ds.rem(36)
                        height: ds.rem(36)

                    span
                      +ds.screen-reader-only

              +ds.mq(portrait)
                position: absolute
                top: 0
                left: 50%
                transform: translateX(-50%)
                display: flex
                justify-content: center
                align-items: flex-end
                width: 90%
                height: 50%

                div:first-of-type
                  display: flex
                  align-items: flex-end
                  width: 100%
                  height: 100%
                  aspect-ratio: 16 / 9

                .thumbnail
                  button
                    em
                      transition: all .4s cubic-bezier(.4,0,.2,1)
                      display: flex
                      justify-content: center
                      align-items: center
                      background-color: rgba(244, 246, 250, .9)
                      border-radius: ds.rem(52)
                      width: ds.rem(52)
                      height: ds.rem(52)

                      i
                        display: block
                        width: ds.rem(36)
                        height: ds.rem(36)

                .thumbnail, .dummy
                  position: absolute
                  top: 0
                  left: 0
                  display: flex
                  align-items: flex-end
                  width: 100%
                  height: 100%
                  aspect-ratio: 16 / 9

                  img, button
                    max-width: 100%
                    max-height: 100%
                    height: auto
                    object-fit: cover
                    aspect-ratio: 1920 / 1080
                    width: 100%

                  button
                    display: flex
                    position: absolute
                    bottom: 0
                    left: 0
                    background-color: transparent
                    justify-content: center
                    align-items: center
                    aspect-ratio: 1920 / 1080
                    width: 100%

                    span
                      +ds.screen-reader-only

            iframe
              aspect-ratio: 1920 / 1080
              width: 100%

              +ds.mq(landscape)
                height: 100%

              +ds.mq(portrait)
                max-width: 100%
                max-height: 100%
                height: auto
                object-fit: contain

          .thumbnail
            position: absolute
            width: 0
            height: 0
            overflow: hidden

        &:not(.YouTube)
          .background
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%

            img
              width: 100%
              height: 100%
              object-fit: cover

            div:not(.dummy)
              position: absolute
              width: 0
              height: 0
              overflow: hidden

            .dummy
              position: absolute
              top: 0
              left: 0
              width: 100%
              height: 100%
              background-color: rgba(ds.$hex-black, .7)
              backdrop-filter: blur(ds.rem(100))

          div:not(.background)
            z-index: 2

          .youtube
            position: absolute
            width: 0
            height: 0
            overflow: hidden

          .music-lyrics
            display: flex
            flex-direction: column
            gap: ds.rem(52)
            margin: 0 auto
            width: 90%
            height: calc(100dvh - ds.rem(197))

            ~ .thumbnail > .controller
              height: auto

            .music-info
              display: flex
              gap: ds.rem(17)

              .song-cover
                width: ds.rem(47)
                height: ds.rem(47)

                img
                  aspect-ratio: 1 / 1

              .summary
                display: flex
                flex-direction: column
                padding-top: 0
                padding-bottom: 0
                overflow: hidden

                h2, cite
                  display: block
                  width: 100%
                  +ds.ellipsis

                h2
                  font-size: ds.rem(16)
                  font-weight: 800
                  color: ds.$hex-white

                cite
                  font-size: ds.rem(14)
                  color: ds.$hex-light

            .lyrics
              height: calc(100dvh - ds.rem(296) - env(safe-area-inset-top) - env(safe-area-inset-bottom))

              p
                font-size: ds.rem(24)
                color: ds.$hex-light

            ~ .thumbnail
              .controller
                top: 0!important

          .thumbnail
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            flex-grow: 1
            gap: ds.rem(27)

            +ds.mq(landscape)
              position: relative
              height: calc(100dvh - ds.rem(218))

            +ds.mq(portrait)
              justify-content: space-between
              position: relative
              height: calc(100dvh - ds.rem(91))

            > div:not(.summary)
              display: flex
              justify-content: center
              flex-grow: 1

              +ds.mq(landscape)
                align-items: flex-end
                position: absolute
                top: 0
                left: 0
                width: 90%
                height: 50%

              +ds.mq(portrait)
                position: absolute
                top: 0
                left: 50%
                transform: translateX(-50%)
                width: 90%
                height: 50%

            .controller
              +ds.mq(portrait)
                top: 50%!important

            img
              aspect-ratio: 1 / 1
              width: auto

              +ds.mq(landscape)
                height: 72%

              +ds.mq(portrait)
                max-width: 100%
                height: 100%
                object-fit: contain

        .switching
          position: relative
          text-align: center

          ul
            display: inline-flex
            background-color: rgba(ds.$hex-white, .2)
            border-radius: ds.rem(32)
            height: ds.rem(32)

            li
              display: inline-flex
              height: ds.rem(32)

            button
              display: inline-flex
              align-items: center
              background-color: transparent
              border-radius: ds.rem(32)
              padding: 0 ds.rem(16)
              height: ds.rem(32)
              font-size: ds.rem(14)
              color: ds.$hex-white

              &:not(.current)
                &.isNotYouTube
                  padding-right: ds.rem(8)

                &.isYouTube
                  padding-left: ds.rem(8)

              &.current
                background-color: ds.$hex-accent
                color: ds.$hex-black

          ~ .music-lyrics
            height: calc(100dvh - ds.rem(256) - env(safe-area-inset-top) - env(safe-area-inset-bottom))

            .lyrics
              height: calc(100dvh - ds.rem(355) - env(safe-area-inset-top) - env(safe-area-inset-bottom))

        .controller
          display: flex
          flex-direction: column
          justify-content: flex-end!important
          width: 90%

          +ds.mq(portrait)
            position: absolute
            top: 50%
            left: 50%
            transform: translateX(-50%)
            width: 90%

          +ds.mq(portrait)
            height: 50%

          .summary
            width: 100%

            h2, cite
              display: block
              width: 100%
              +ds.ellipsis

            h2
              font-size: ds.rem(22)
              font-weight: 800
              color: ds.$hex-white

            cite
              font-size: ds.rem(18)
              color: ds.$hex-light

            dl
              display: flex
              flex-direction: column
              margin-top: ds.rem(7)

              div
                display: inline-flex
                flex-wrap: wrap

                dt, dd
                  font-size: ds.rem(14)
                  color: ds.$hex-light

                dt
                  width: ds.rem(72)

                dd
                  +ds.col
                  word-break: keep-all
                  word-wrap: break-word

          button
            background-color: transparent

          .seekbar
            position: relative
            width: 100%
            height: ds.rem(12)

            &::before
              content: ''
              position: absolute
              top: ds.rem(5)
              left: 0
              width: 100%
              height: ds.rem(2)
              background-color: #7F7F7F
              transition: all 1s linear

            &:hover
              &::before
                top: 0
                border-radius: ds.rem(12)
                height: ds.rem(12)

              span
                top: 0
                border-radius: ds.rem(12)
                height: 100%

              em
                top: 0

            span
              position: absolute
              top: ds.rem(5)
              left: 0
              height: ds.rem(2)
              background-color: ds.$hex-accent
              transition: all 1s linear

            em
              position: absolute
              top: 0
              z-index: 7
              background-color: #EF233C
              border-radius: ds.rem(12)
              width: ds.rem(12)
              height: ds.rem(12)
              transition: all 1s linear

              &.left
                i
                  left: 0!important
                  transform: none!important

              &.right
                i
                  left: auto!important
                  right: 0!important
                  transform: none!important

              i
                position: absolute
                top: ds.rem(17)
                left: 50%
                transform: translateX(-50%)
                background-color: ds.$hex-white
                border-radius: ds.rem(3)
                padding: ds.rem(3) ds.rem(5)
                font-size: ds.rem(12)
                font-weight: 800
                font-style: normal
                line-height: 1
                color: ds.$hex-black

          .option
            display: flex
            justify-content: space-between
            position: relative
            padding-top: ds.rem(12)

            .duration
              position: absolute
              top: ds.rem(6)
              right: 0
              font-size: ds.rem(12)
              font-weight: 800
              color: ds.$hex-accent

            .lyricsText
              display: flex
              justify-content: center
              align-items: center

              i
                display: block
                width: ds.rem(27)
                height: ds.rem(27)

              span
                +ds.screen-reader-only

            .play
              display: flex
              align-items: center

              span
                +ds.screen-reader-only

              .skip-button
                i
                  display: block
                  width: ds.rem(37)
                  height: ds.rem(37)

              .play-button
                i
                  display: block
                  width: ds.rem(82)
                  height: ds.rem(82)

            .repeat
              display: flex
              justify-content: center
              align-items: center

              i
                display: block
                width: ds.rem(27)
                height: ds.rem(27)

              span
                +ds.screen-reader-only

        .summary
          display: flex
          flex-direction: column
          justify-content: flex-start
          align-items: flex-start
          padding-top: ds.rem(37)
          width: 90%
          overflow: hidden

          +ds.mq(landscape)
            position: absolute
            top: 50%
            left: 0
            padding-top: ds.rem(52)
            padding-bottom: 0

          +ds.mq(portrait)
            flex-grow: 1

          h2, cite
            display: block
            width: 100%
            white-space: nowrap
            +ds.ellipsis

          h2
            font-size: ds.rem(32)
            font-weight: 800
            color: ds.$hex-white

          cite
            font-size: ds.rem(24)
            color: ds.$hex-white

          dl
            display: flex
            flex-direction: column
            margin-top: ds.rem(12)

            div
              display: inline-flex
              flex-wrap: wrap

              dt, dd
                font-size: ds.rem(14)
                color: ds.$hex-light

              dt
                width: ds.rem(72)

              dd
                +ds.col
                word-break: keep-all
                word-wrap: break-word

      ~ .player
        .song
          .info
            &::after
              display: none

            strong, cite
              +ds.ellipsis

    .portrait
      height: 100dvh

      .cover
        height: 100dvh

    .player
      position: relative
      z-index: 2
      display: flex
      justify-content: space-between
      width: 100%
      padding: ds.rem(23) calc(env(safe-area-inset-right) + ds.rem(23)) calc(env(safe-area-inset-bottom) + ds.rem(23)) calc(env(safe-area-inset-left) + ds.rem(23))

      button
        background-color: transparent

      .seekbar
        position: absolute
        top: ds.rem(-6)
        left: 0
        width: 100%
        height: ds.rem(12)

        &::before
          content: ''
          position: absolute
          top: ds.rem(5)
          left: 0
          width: 100%
          height: ds.rem(2)
          background-color: #7F7F7F
          transition: all .4s cubic-bezier(.4,0,.2,1)

        &:hover
          height: ds.rem(12)

          &::before
            top: 0
            height: ds.rem(12)

          span
            top: 0
            height: 100%

          em
            top: 0

        span
          position: absolute
          top: ds.rem(5)
          left: 0
          height: ds.rem(2)
          background-color: ds.$hex-accent
          transition: all 1s linear

        em
          position: absolute
          top: 0
          z-index: 1
          background-color: #EF233C
          border-radius: ds.rem(12)
          width: ds.rem(12)
          height: ds.rem(12)
          transition: all 1s linear

          &.left
            i
              left: 0!important
              transform: none!important

          &.right
            i
              left: auto!important
              right: 0!important
              transform: none!important

          i
            position: absolute
            top: ds.rem(17)
            left: 50%
            transform: translateX(-50%)
            background-color: ds.$hex-white
            border-radius: ds.rem(3)
            padding: ds.rem(3) ds.rem(5)
            font-size: ds.rem(12)
            font-weight: 800
            font-style: normal
            line-height: 1
            color: ds.$hex-black

      .duration
        position: absolute
        top: ds.rem(14)
        right: ds.rem(23)
        font-size: ds.rem(12)
        font-weight: 800
        font-style: normal
        line-height: 1
        color: ds.$hex-accent

      .song
        position: relative
        display: flex
        gap: ds.rem(17)
        width: calc(100vw - ds.rem(227))

        +ds.mq(landscape)
          width: 50%
          padding-right: ds.rem(82)

        button
          position: absolute
          top: 0
          left: 0
          width: 100%
          height: 100%
          background-color: transparent

          span
            +ds.screen-reader-only

        .cover, .cover img
          display: block

        .cover
          width: ds.rem(47)

        .info
          display: flex
          flex-direction: column
          justify-content: center
          gap: ds.rem(5)
          position: relative
          overflow: hidden
          +ds.col

          &::after
            content: ''
            position: absolute
            top: 0
            right: 0
            width: ds.rem(57)
            height: 100%
            background: linear-gradient(90deg, rgba(ds.$hex-dark, 0), ds.$hex-dark 100%)

            +ds.mq(landscape)
              width: ds.rem(72)

          strong, cite
            display: block
            white-space: nowrap
            word-break: keep-all
            word-wrap: break-word

          strong
            font-size: ds.rem(14)
            font-weight: 800
            color: ds.$hex-light-subject

            span
              +ds.screen-reader-only

          cite
            font-size: ds.rem(12)
            color: ds.$hex-light-summary

      .play
        position: absolute
        top: ds.rem(21)
        display: flex
        align-items: center

        +ds.mq(portrait)
          right: ds.rem(62)

        +ds.mq(landscape)
          left: 50%
          transform: translateX(-50%)

        span
          +ds.screen-reader-only

        .skip-button
          i
            display: block
            width: ds.rem(37)
            height: ds.rem(37)

        .play-button
          i
            display: block
            width: ds.rem(52)
            height: ds.rem(52)

      .repeat
        display: flex
        justify-content: center
        align-items: center

        i
          display: block
          width: ds.rem(27)
          height: ds.rem(27)

        span
          +ds.screen-reader-only

  article
    margin: 0 auto
    padding: 0 ds.rem(15)
    max-width: ds.rem(720)
    width: 100%

    header
      padding: ds.rem(17) 0

      h2
        font-size: ds.rem(24)
        line-height: 1.16666667
        color: var(--txt-subject)

      time
        font-size: ds.rem(14)
        color: var(--txt-blockquote)

    .description
      padding: ds.rem(27) 0

      p
        font-size: ds.rem(16)
        line-height: 1.25
        color: var(--txt-summary)

@keyframes loading
  0%
    background-position: 200% 0

  100%
    background-position: -200% 0
