@import './designSystem'

.pagination
  display: flex
  justify-content: flex-end
  gap: rem(7)
  width: 100%
  padding: rem(27) rem(12) rem(57)

  +mq(minSmall)
    justify-content: center
    padding: rem(27) 0 rem(57)

  .pager, .pages
    a
      display: inline-flex
      justify-content: center
      align-items: center
      border-radius: rem(3)
      width: rem(30)
      height: rem(30)
      font-size: rem(12)
      transition: all .4s cubic-bezier(.4,0,.2,1)

      body[data-theme="dark"] &
        border: 1px solid $hex-white
        color: $hex-white

      body &, body[data-theme="light"] &
        border: 1px solid $hex-black
        color: $hex-black

      &:hover, &:focus
        border: 1px solid $hex-accent
        background-color: $hex-accent
        font-weight: 900

        body[data-theme="dark"] &
          color: $hex-black

        body &, body[data-theme="light"] &
          color: $hex-white

  .pager span
    +screen-reader-only

  .pages
    &.current
      a
        border: 1px solid $hex-accent
        background-color: $hex-accent
        font-weight: 900

        body[data-theme="dark"] &
          color: $hex-black

        body &, body[data-theme="light"] &
          color: $hex-white
